.ant-avatar{
  border-radius: 0;
}

.ant-page-header{
  padding: 10px 24px;
}

.ant-btn .span-button {
  display: none;
  transition: ease-in-out 0.2s;
}

.h3-brand{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #27976b;
  transition: ease-in-out 5s;
}

@media (min-width: 600px) {
  .ant-btn .span-button {
      display: inline-block;
  }
  .ant-page-header{
      padding-inline: 70px;
  }
}